In [ ]:
-- Task 1: extract the top 10 company with highest fare-rate
SELECT
    c.company,
    Round(SUM(tt.fare)) AS fare_tot
FROM 
    "chicago_taxi_db"."taxi_trips" tt
INNER JOIN
    "chicago_taxi_db"."company" c
    ON tt.company_id = c.company_id
GROUP BY
    c.company
ORDER BY
    fare_tot DESC
LIMIT
    10

In [ ]:
-- Task 2: Extract the top 10 pickup community areas with the most rides
SELECT
    c.community_name,
    COUNT(trip_id) as trip_count
FROM 
    "chicago_taxi_db"."taxi_trips" tt
INNER JOIN
    "chicago_taxi_db"."community_areas" c
    ON tt.pickup_community_area_id = c.area_code
GROUP BY
    c.community_name
ORDER BY
    trip_count DESC
LIMIT
    10

In [ ]:
-- Task 3: extract the number of trips for each day of week
SELECT
    CASE day_of_week(DATE(datetime_for_weather))
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
        WHEN 7 THEN 'Sunday'
    END AS day_names,
    COUNT(trip_id) as trip_count
FROM 
    "chicago_taxi_db"."taxi_trips"
GROUP BY
    day_of_week(DATE(datetime_for_weather))
ORDER BY CASE day_names
         WHEN 'Monday' THEN 1
         WHEN 'Tuesday' THEN 2
         WHEN 'Wednesday' THEN 3
         WHEN 'Thursday' THEN 4
         WHEN 'Friday' THEN 5
         WHEN 'Saturday' THEN 6
         WHEN 'Sunday' THEN 7
     END;